<%= form_with(model: memo) do |form| %>
  <% if memo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(memo.errors.count, "error") %> prohibited this memo from being saved:</h2>

      <ul>
        <% memo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <%= form.fields_for :memo_labels do |memo_label| %>
    <div class="nested-fields">
      <%= render 'memo_label_fields', f: memo_label %>
    </div>
  <% end %>

  <div>
    <%= link_to_add_association 'ラベルを追加', form, :memo_labels %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
